@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f1f6fc31;
}

section,
footer {
  padding: 54px 0;
}

h3 {
  font-size: 32px;
}

p {
  color: #0000009c;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5%;
}

.btn {
  background-color: #4f9cf9;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block; 
  transition: 0.1s;
}

.btn.animate-btn {
  animation: animate-outline 1s ease-out infinite;
}

.btn:hover {
  background-color: #3580db;
}

@keyframes animate-outline {
  from {
    outline: 0px solid #4f9bf98a; 
  }
  to {
    outline: 15px solid #4f9bf900;
  }
}

header {
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top:10px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul a {
  color: white;
  margin: 0 27px;
  text-transform: initial; 
  font-size: 16px;
  display: block;
}

nav ul a:not(.btn)::after { 
  content: "";
  background-color: #0a1e30b6;
  height: 3px;
  width: 0%;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}

nav ul a:hover::after {
  width: 100%; 
}

/*MENU MOBILE*/
nav .menu-icon {
  cursor: pointer;
  font-size: 25px;
  color: white;
  display: none;
}

nav .close-icon {
  display: none;
  font-size: 30px;
  color: white;
}

.banner {
  display: flex;
  justify-content: center; 
}

.banner .banner-text {
  margin: 150px;
  text-align: center;
  padding: 15px 90px 0 90px;
}

.banner .banner-text h1 {
  font-size: 56px;
  color: white;
}

.banner .banner-text p {
  font-size: 18px;
  color: #ffffffb7;
  font-weight: lighter;
  margin: 18px 0; 
  padding-bottom: 15px;
}

/*FAÇA MAIS*/
.faca-mais .container {
  display: flex;
  align-items: center;
}

.faca-mais .faca-mais-text {
  width: 50%;
  padding: 0 40px;
}

.faca-mais .faca-mais-text h3 {
  font-size: 32px;
}

.faca-mais .faca-mais-text p {
  margin: 15px 0 10px 0;
}

.lista-scroll02 {
  margin-bottom: 10px;
  padding: 17px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #343538;
}

.faca-mais .faca-mais-img {
  width: 50%; 
}

.faca-mais .faca-mais-img img {
  width: 100%;
}

/*Início do COMO TRABALHAMOS*/
.como-trabalhamos-text h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
}

.como-trabalhamos-text p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 10px;
}

.como-trabalhamos-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 56px 0;
}
/*FIM COMO TRABALHAMOS*/

/*Início do 5° scroll (depoimentos)*/
.depoimentos h3 {
  text-align: center;
  color: #000000;
  font-size: 32px;
  }
  
  .depoimentos p {
    margin: 20px 0;
    text-align: center;
    color: #000000;
  }
  
  .card {
    display: flex;
    justify-content: center;
  }
  
  .depoimentos .card-item {
    margin: 15px;
    padding: 16px 32px;
    text-align: center;
    width: 450px;
    box-shadow: 0px 10px 40px rgba(101, 136, 224, 0.57);
    border-radius: 8px;
  }
  
  .depoimentos .card-item .img {
    display: block;
    margin: 10px auto;
  }
  
  .depoimentos .card-item .name-user {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #71767a23;
  }
  
  .depoimentos .card-item .depoimento-user {
    font-size: 16px;
    padding: 0 15px;
  }
  
  .depoimentos .card-item .estrelas {
    margin: 15px 0;
    padding-top: 15px;
  }
  
  .depoimentos .card-item .estrelas i {
    color: #3379ce;
    margin-top: 15px;
  }
 
/*Início do 6° scroll (clientes)*/
.nossos-trabalhos h3 {
  text-align: center;
  color: #000000;
  font-size: 32px;
  }
  
  .nossos-trabalhos p {
    margin: 20px 0;
    text-align: center;
    color: #000000;
  }
  
  .case {
    display: flex;
    justify-content: center;
  }
  
  .nossos-trabalhos .case-item {
    margin: 15px;
    padding: 16px 32px;
    text-align: center;
    width: 450px;
    transition: 0.3s;
  }
  
  .nossos-trabalhos .case-item .img {
    display: block;
    margin: 10px auto;
  }
  
  .nossos-trabalhos .case-item .name-case {
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
  }

  .nossos-trabalhos .case-item:hover {
    background-color: #FFFFFF;
    margin-top: -5px;
  }
  
  .nossos-trabalhos .case-item:hover .name-case {
    color: #000000;
  }

/*NOSSOS CLIENTES (mudar p/ tecnologias que trabalhamos)*/
.clientes h3,
.clientes p {
  text-align: center;
}

.clientes .container div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*INÍCIO Se interessou?*/
.ficou-interessado {
  padding: 156px;
  display: flex;
  justify-content: center;
}

.ficou-interessado .ficou-interessado-text {
  margin: 10px 0;
  text-align: center;
  padding: 0 90px;
}

.ficou-interessado .ficou-interessado-text h3 {
  color: #000000;
}

.ficou-interessado .ficou-interessado-text p {
  color: #000000;
  font-weight: lighter;
  margin: 18px 0;
  padding-bottom: 24px;
}

/*FOOTER*/
.footer {
  background-color: #1E1F24;
  text-align: center;
  padding: 72px;
}

.footer i {
  color: #FFFFFF;
  font-size: 24px;
  padding: 10px;
  margin: 4px;
}

.footer p {
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 14px;
}

/*menu mobile*/
@media(max-width: 830px) {
  /*menu mobile*/
  .ul {
    position: fixed;
    top: 0;
    left: 0;
    background: #0A1E30;
    width: 100%;
    height: 100%;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    clip-path: circle(0% at 100% 0);
    transition: 0.7s;
  }

  .ul.open {
    clip-path: circle(142.2% at 100% 0);
  }

  .ul a {
    margin: 10px 0;
    font-size: 16px;
  }

  nav .menu-icon {
    display: block;
  }

  nav .close-icon {
    display: block;
    position: absolute;
    top: 46px;
    right: 28px;
  }
